@font-face {
    font-family: ka;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: jw;
    src: url(../fonts/ArchivoNarrow-VariableFont_wght.ttf);
    font-weight: normal;
}
body{
    background-image: url(../images/basketballback2.png);
    background-repeat: none;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    font-family: ka;
    font-size: xx-large;
    font-weight: bold;
    background-color: lightgreen;
}
img{
    margin-left: 1100px;
    margin-top: -76px;
    border-radius: 40%;
    border-color: black;
    display: cover;
}
p{
    font-family: jw;
    font-size: larger;
    font-weight: lighter;
    font-display: cover;
    padding: 1.6px;
    color: white;
}
li{
    font-family: ka;
    font-size: large;
    font-weight: bold;
    color:white;
    border-color: white;

}
h2{
    font-family: jw;
    font-size: large;
    font-weight: bold;
    color:white;
}
ol a{
    color:wheat;
    text-decoration: none;
    
}
ol a:hover{
    background-color:rgb(116, 122, 122);
}
.hf
{
    background-color:black;
    color:white;
    font-family: jw;
    border-radius: 50%;
}
button{
    color:none;
}