@font-face {
    font-family: ka;
    src: url(Oswald-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: jw;
    src: url(ArchivoNarrow-VariableFont_wght.ttf);
    font-weight: normal;
}
    body{
        background:rgb(23, 22, 21);

    }
    h1{
        font-family: jw;
        color: beige;
        text-align: center;
        letter-spacing: 2px;
    }
    ul{
        list-style-type: none;
        font-family: ka;
        font-weight: bolder;
        font-size: larger;
        text-decoration: none;
    }
    .myimg{
        border: black solid;
        border-radius: 30%;
        position: absolute;
        top:0px;
        left:1102px;
    }
    .cont{
        text-align: right;
        margin-top: 3px ;
        margin-right: 100px;
    }
    .con{
        text-align: left;
        margin-top:-692px;     
    }
    .onlychess{
        display: grid;
        place-items: center;
        margin-top: -545px;
    }
    ul a{
        text-decoration: none;
        color: white;
        font-size: large;
    }
    ul a:hover{
        background-color:rgb(116, 122, 122);
    }
    