 @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
 @font-face {
    font-family: myFont;
    src: url(companyhand.ttf);
    font-weight: normal;
 }
    @font-face {
        font-family: fa;
        src: url(sectionhand.ttf);
        font-weight:normal;
    }
    @font-face{
        font-family:ja;
        src: url(companyhand.ttf);
        font-weight: normal;

    }
   
 
*{
    box-sizing: border-box;
    font-family:Raleway ;
    color: #333;
}
html,body{
    padding: 0;
    margin:0;

}
.nav ul{
    margin: 0;
}
.main-header{
background-color:rgba(255,255, 255, .3);
background-image: url("back.png");
background-blend-mode: multiply;
background-size: cover;
padding bottom: 10000px;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
padding: .5em;
color:white;
text-decoration: none;
}
.main-nav{
    text-align:center;
    font-size: 1.1em;
     font-weight:lighter ;
     border-bottom:1px solid rgba(255,255,255,.3)

}
.main-nav li{
    padding:0 5%;
}
.nav a:hover{
    background-color:rgba(255,255, 255, .3) ;
}
.scholar{
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-family: myFont;
 color:white;
 font-weight: normal;
}
.scholarsize{
    font-size: 7em;
}
.content{
margin: 1em;

}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding:0 1.5em
}
.section-header{
    font-family: fa;
    color: #333;
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;

}
.intro-image{
    float: left;
    border-radius: 50%;
}
.main-footer{
  background-color:lightgreen;
    color: black;
}
.our-name{
    font-family: ja;

}
.main-footercontainer{
    display: flex;
    align-items: center;
}
.main-footercontainer ul{
    flex-grow: 1;
    text-align: center;
}
.footer-nav li{
    padding:0 .5em;
}
.footer-nav img{
    width:30px;
    height: 30px;
}
