@font-face {
    font-family: ka;
    src: url(Oswald-VariableFont_wght.ttf);
    font-weight: normal;
}
@font-face {
    font-family: jw;
    src: url(ArchivoNarrow-VariableFont_wght.ttf);
    font-weight: normal;
}
*{
    box-sizing: border-box;
    color: black;


}
.cat{
    text-align: center;
    font-size: 3em;
    font-family: ka;
    color:white;
    margin:0;
}
.catsize{
    font-size: 4em;
}
.sel{
    text-align: center;
    color:black;
    font-family: ka;
    text-decoration: solid;
    padding: 0em;
}


.main-header{
    background-color:rgba(255,255, 255, .3);
    background-image: url("back.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 6px;
    text-align: left;
    text-decoration-color: black;
    display: block;
    text-decoration: none;
    }
   .sportsn p{
    font-family: jw ;
    font-size: 1.3em;
    padding: 0.6em;
    margin-left:1em;
    float: right;
    font-style: italic;
    background-color:lightgreen;
    

}
.sportsn img{
    float:right;
    border-radius:50%;
    padding:0em;
    
    

}
.sportsn li{
    text-align: center;
   
}
.sportsn a{
    text-decoration: none;
    font-family: ka;
    font-size: large;
    font-weight: normal;
}
.sportsn a:hover{
    background-color:aqua;
}
.meritsn a{
    text-decoration: none;
    font-family: ka;
    font-size: large;
    font-weight: normal;
}
.meritsn li{
    text-align: center;
}
.meritsn a:hover{
    background-color: aquamarine;
}
.meritsn p{
    font-family: jw ;
    font-size: 1.3em;
    padding: 0.6em;
    margin-left:1em;
    float: right;
    font-style: italic;
    background-color:lightsalmon;
   
   
}
.merimg{
    float:right;
    border-radius:50%;
    padding:0em;

    
}
.backn a{
    text-decoration: none;
    font-family: ka;
    font-size: large;
    font-weight: normal;

}
.backn li{
    text-align: center;
}
.backn p{
    font-family: jw ;
    font-size: 1.3em;
    padding: 0.6em;
    margin-left:1em;
    float: right;
    font-style: italic;
    background-color:lightblue;

}
.backn img{
    float:right;
    border-radius:50%;
    padding:0em;
}
.backn a:hover{
    background-color: lightgoldenrodyellow;
}
.entern p{
    font-family: jw ;
    font-size: 1.3em;
    padding: 0.6em;
    margin-left:1em;
    float: right;
    font-style: italic;
    background-color:lightseagreen
}
.entern img{
    float:right;
    border-radius:50%;
    padding:0em;
}
.entern li{
    text-align: center;
   
}
.entern a{
    text-decoration: none;
    font-family: ka;
    font-size: large;
    font-weight: normal;
}
.entern a:hover{
    background-color: lightpink;
}
.militaryn a{
    text-decoration: none;
    font-family: ka;
    font-size: large;
    font-weight: normal;
}
.militaryn p{
    font-family: jw ;
    font-size: 1.3em;
    padding: 0.6em;
    margin-left:1em;
    float: right;
    font-style: italic;
    background-color:yellow;
}
.militaryn a:hover{
    background-color: goldenrod;
}
.militaryn img{
    float:right;
    border-radius:50%;
    padding:0em;
}
.militaryn li{
    text-align: center;
}
    
